openapi: 3.1.0
info:
  title: ClinikAPI
  version: 1.0.0
  description: |
    ClinikAPI is a managed healthcare infrastructure platform providing a developer-friendly REST API
    for storing, querying, and managing clinical data using the FHIR R4 standard.

    ## Authentication
    All endpoints (except `/v1/metadata` and `/health`) require an API key via the `x-api-key` header.
    - Production keys: `clk_live_*`
    - Test/sandbox keys: `clk_test_*`

    ## Response Format
    All responses are wrapped in `{ data: T, meta: { requestId, timestamp, status, rateLimitTotal, rateLimitRemaining, rateLimitReset } }`.

    ## Rate Limits
    Rate limits are plan-based and returned in response headers:
    - `X-RateLimit-Limit` — total requests allowed per window
    - `X-RateLimit-Remaining` — requests remaining
    - `X-RateLimit-Reset` — seconds until window resets

    ## Overages
    Requests beyond your plan limit are charged at $0.003/request.
  contact:
    name: ClinikAPI Support
    email: support@clinikapi.com
    url: https://clinikapi.com
  license:
    name: Proprietary
servers:
  - url: https://api.clinikapi.com
    description: Production
  - url: http://localhost:3000
    description: Local development

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Your ClinikAPI secret key (clk_live_* or clk_test_*)

  schemas:
    ApiResponse:
      type: object
      properties:
        data:
          description: The resource or result payload
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    ResponseMeta:
      type: object
      properties:
        requestId:
          type: string
          example: req_k8f3a7x2
        timestamp:
          type: string
          format: date-time
        status:
          type: integer
          example: 200
        rateLimitTotal:
          type: integer
        rateLimitRemaining:
          type: integer
        rateLimitReset:
          type: integer

    PaginatedResponse:
      type: object
      properties:
        data:
          type: array
          items: {}
        total:
          type: integer
        cursor:
          type: string
        hasMore:
          type: boolean

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: string
        requestId:
          type: string
        issues:
          type: array
          items:
            type: object
            properties:
              severity:
                type: string
              code:
                type: string
              diagnostics:
                type: string

    CodeableConcept:
      oneOf:
        - type: string
        - type: object
          properties:
            system:
              type: string
            code:
              type: string
            display:
              type: string

    Address:
      type: object
      properties:
        line:
          type: array
          items:
            type: string
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string
        country:
          type: string

    PatientCreate:
      type: object
      required: [firstName, lastName]
      properties:
        firstName:
          type: string
          maxLength: 100
        lastName:
          type: string
          maxLength: 100
        email:
          type: string
          format: email
        phone:
          type: string
          maxLength: 20
        gender:
          type: string
          enum: [male, female, other, unknown]
        birthDate:
          type: string
          description: Date of birth (YYYY-MM-DD)
        address:
          $ref: '#/components/schemas/Address'
        maritalStatus:
          type: string
          maxLength: 50
          description: Marital status (married, single, divorced, widowed)
        photo:
          type: object
          properties:
            url:
              type: string
              format: uri
            data:
              type: string
              description: Base64-encoded image
            contentType:
              type: string
        contact:
          type: array
          maxItems: 10
          description: Emergency contacts / next of kin
          items:
            type: object
            properties:
              relationship:
                type: string
              firstName:
                type: string
              lastName:
                type: string
              phone:
                type: string
              email:
                type: string
                format: email
              address:
                $ref: '#/components/schemas/Address'
        languages:
          type: array
          maxItems: 20
          description: Languages the patient speaks
          items:
            type: object
            required: [language]
            properties:
              language:
                type: string
                description: BCP-47 language code or display name
              preferred:
                type: boolean
        generalPractitionerId:
          type: string
          description: Reference to the patient's GP (Practitioner ID)

    PractitionerCreate:
      type: object
      required: [firstName, lastName]
      properties:
        firstName:
          type: string
          maxLength: 100
        lastName:
          type: string
          maxLength: 100
        prefix:
          type: array
          items:
            type: string
          description: Name prefixes (e.g. Dr., Prof.)
        suffix:
          type: array
          items:
            type: string
          description: Name suffixes (e.g. MD, PhD, FACC)
        email:
          type: string
          format: email
        phone:
          type: string
          maxLength: 20
        gender:
          type: string
          enum: [male, female, other, unknown]
        birthDate:
          type: string
        npi:
          type: string
          description: National Provider Identifier (US)
          maxLength: 20
        specialty:
          type: string
          maxLength: 200
          description: Primary specialty (e.g. Cardiology, Family Medicine)
        qualifications:
          type: array
          maxItems: 20
          items:
            type: object
            required: [name]
            properties:
              name:
                type: string
                maxLength: 200
              issuer:
                type: string
                maxLength: 200
              period:
                type: object
                properties:
                  start:
                    type: string
                  end:
                    type: string
              identifier:
                type: string
                maxLength: 100
        languages:
          type: array
          items:
            type: string
          description: BCP-47 language codes
        address:
          $ref: '#/components/schemas/Address'
        photo:
          type: object
          description: Practitioner photo
          properties:
            url:
              type: string
              format: uri
              description: URL to the photo
            data:
              type: string
              description: Base64-encoded image data
            contentType:
              type: string
              description: MIME type (e.g. image/jpeg)
              maxLength: 100

    PractitionerRoleCreate:
      type: object
      required: [practitionerId, role]
      properties:
        practitionerId:
          type: string
        role:
          type: string
          description: Role code (doctor, nurse, pharmacist, admin, consultant)
          maxLength: 100
        organizationName:
          type: string
          maxLength: 200
        specialty:
          type: array
          items:
            type: string
        locationName:
          type: string
          maxLength: 200
        phone:
          type: string
        email:
          type: string
          format: email
        period:
          type: object
          description: Period during which the role is valid
          properties:
            start:
              type: string
            end:
              type: string
        availableTime:
          type: array
          description: Multiple availability schedules
          items:
            type: object
            properties:
              daysOfWeek:
                type: array
                items:
                  type: string
                  enum: [mon, tue, wed, thu, fri, sat, sun]
              allDay:
                type: boolean
                description: Whether available all day (24h)
              availableStartTime:
                type: string
                description: Start time (HH:mm:ss format)
              availableEndTime:
                type: string
                description: End time (HH:mm:ss format)
        notAvailable:
          type: array
          description: Periods when the practitioner is not available
          items:
            type: object
            required: [description]
            properties:
              description:
                type: string
                maxLength: 500
                description: Reason (e.g. On vacation, Conference)
              during:
                type: object
                properties:
                  start:
                    type: string
                  end:
                    type: string
        availabilityExceptions:
          type: string
          maxLength: 1000
          description: Free-text description of availability exceptions
        availableDays:
          type: array
          description: "Legacy: use availableTime instead"
          items:
            type: string
            enum: [mon, tue, wed, thu, fri, sat, sun]
        availableStartTime:
          type: string
          description: "Legacy: use availableTime instead"
        availableEndTime:
          type: string
          description: "Legacy: use availableTime instead"

    EncounterCreate:
      type: object
      required: [status, class, patientId]
      properties:
        status:
          type: string
          enum: [planned, arrived, triaged, in-progress, onleave, finished, cancelled]
        class:
          type: string
          description: AMB (ambulatory), IMP (inpatient), EMER (emergency), HH (home health), VR (virtual)
        patientId:
          type: string
        practitionerId:
          type: string
          description: Primary practitioner reference
        participants:
          type: array
          description: Additional participants (nurses, specialists)
          items:
            type: object
            required: [practitionerId]
            properties:
              practitionerId:
                type: string
              role:
                type: string
        type:
          type: string
          maxLength: 200
        serviceType:
          type: string
          maxLength: 200
        priority:
          type: string
          maxLength: 50
        reasonCode:
          type: string
          maxLength: 500
        period:
          type: object
          properties:
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time
        lengthMinutes:
          type: integer
          maximum: 10080
        location:
          type: string
          maxLength: 200
        serviceProvider:
          type: string
          maxLength: 200
        diagnosis:
          type: array
          maxItems: 20
          items:
            type: object
            properties:
              condition:
                type: string
              use:
                type: string
              rank:
                type: integer
        appointmentId:
          type: string
          description: Appointment that scheduled this encounter
        basedOnId:
          type: string
          description: ServiceRequest that initiated this encounter
        partOfId:
          type: string
          description: Parent encounter ID (for sub-encounters)
        hospitalization:
          type: object
          description: Inpatient admission/discharge details
          properties:
            admitSource:
              type: string
              description: Where admitted from (ER, physician referral, transfer)
            dischargeDisposition:
              type: string
              description: Discharge destination (home, SNF, expired)
            reAdmission:
              type: string
              description: Re-admission type
            dietPreference:
              type: array
              items:
                type: string
            specialArrangement:
              type: array
              items:
                type: string
              description: Wheelchair, translator, stretcher, etc.
            destination:
              type: string
              description: Discharge destination facility
            origin:
              type: string
              description: Originating facility

    ObservationCreate:
      type: object
      required: [status, code, patientId]
      properties:
        status:
          type: string
          enum: [registered, preliminary, final, amended, corrected, cancelled]
        code:
          $ref: '#/components/schemas/CodeableConcept'
        patientId:
          type: string
        encounterId:
          type: string
        performerId:
          type: string
        effectiveDateTime:
          type: string
          format: date-time
        issued:
          type: string
          format: date-time
          description: When this version was made available
        valueQuantity:
          type: object
          properties:
            value:
              type: number
            unit:
              type: string
            system:
              type: string
            code:
              type: string
        valueString:
          type: string
          maxLength: 2000
        valueCodeableConcept:
          type: object
          properties:
            system:
              type: string
            code:
              type: string
            display:
              type: string
        component:
          type: array
          maxItems: 20
          items:
            type: object
            properties:
              code:
                $ref: '#/components/schemas/CodeableConcept'
              valueQuantity:
                type: object
                properties:
                  value:
                    type: number
                  unit:
                    type: string
              valueString:
                type: string
        category:
          type: string
          description: vital-signs, laboratory, social-history, exam
        interpretation:
          type: string
          description: H (high), L (low), N (normal), A (abnormal), HH, LL
          maxLength: 10
        referenceRange:
          type: object
          properties:
            low:
              type: object
              properties:
                value:
                  type: number
                unit:
                  type: string
            high:
              type: object
              properties:
                value:
                  type: number
                unit:
                  type: string
            text:
              type: string
        bodySite:
          type: string
          maxLength: 200
        method:
          type: string
          maxLength: 200
        specimenId:
          type: string
          description: Specimen reference
        deviceId:
          type: string
          description: Device reference
        note:
          type: string
          maxLength: 2000

    MedicationCreate:
      type: object
      required: [code]
      properties:
        code:
          $ref: '#/components/schemas/CodeableConcept'
        status:
          type: string
          enum: [active, inactive]
        form:
          type: string
          maxLength: 100
        manufacturer:
          type: string
          maxLength: 200
          description: Manufacturer name
        amount:
          type: object
          description: Total amount of drug in package
          properties:
            numerator:
              type: object
              properties:
                value:
                  type: number
                unit:
                  type: string
            denominator:
              type: object
              properties:
                value:
                  type: number
                unit:
                  type: string
        ingredient:
          type: array
          items:
            type: object
            properties:
              item:
                $ref: '#/components/schemas/CodeableConcept'
              isActive:
                type: boolean
              strength:
                type: object
                properties:
                  numerator:
                    type: object
                    properties:
                      value:
                        type: number
                      unit:
                        type: string
                  denominator:
                    type: object
                    properties:
                      value:
                        type: number
                      unit:
                        type: string
        batch:
          type: object
          properties:
            lotNumber:
              type: string
            expirationDate:
              type: string

    AppointmentCreate:
      type: object
      required: [status, patientId]
      properties:
        status:
          type: string
          enum: [proposed, pending, booked, arrived, fulfilled, cancelled, noshow, checked-in, waitlist]
        patientId:
          type: string
        practitionerId:
          type: string
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        minutesDuration:
          type: integer
          maximum: 1440
        appointmentType:
          type: string
          maxLength: 100
          description: Type of appointment (routine, walkin, urgent, followup)
        serviceType:
          type: string
          maxLength: 200
          description: Service being booked (e.g. cardiology consultation)
        serviceCategory:
          type: string
          maxLength: 200
          description: Service category (general-practice, specialist, dental)
        specialty:
          type: string
          maxLength: 200
          description: Required specialty (e.g. cardiology, dermatology)
        reasonCode:
          type: string
          maxLength: 500
          description: Reason for the appointment
        priority:
          type: integer
          minimum: 0
          maximum: 9
          description: 0 = routine, 1-9 = increasing urgency
        description:
          type: string
          maxLength: 2000
          description: Shown on a subject line in a meeting request
        comment:
          type: string
          maxLength: 2000
        patientInstruction:
          type: string
          maxLength: 2000
          description: Instructions for the patient (e.g. fast for 12 hours)
        cancelationReason:
          type: string
          maxLength: 500
          description: Reason for cancellation (when status is cancelled/noshow)
        basedOnId:
          type: string
          description: ServiceRequest ID this appointment is allocated to assess
        requestedPeriod:
          type: array
          description: Preferred time windows for the appointment
          items:
            type: object
            properties:
              start:
                type: string
                format: date-time
              end:
                type: string
                format: date-time
        created:
          type: string
          format: date-time
          description: When the appointment was initially created (defaults to now)

    PrescriptionCreate:
      type: object
      required: [patientId, prescriberId, medication]
      properties:
        patientId:
          type: string
        prescriberId:
          type: string
        encounterId:
          type: string
        medication:
          $ref: '#/components/schemas/CodeableConcept'
        intent:
          type: string
          enum: [proposal, plan, order, original-order]
          default: order
        status:
          type: string
          enum: [active, on-hold, cancelled, completed, draft]
          default: active
        statusReason:
          type: string
          maxLength: 500
          description: Reason for current status (e.g. why on-hold or cancelled)
        priority:
          type: string
          enum: [routine, urgent, asap, stat]
        category:
          type: string
          maxLength: 200
          description: Category of medication usage (inpatient, outpatient, community, discharge)
        doNotPerform:
          type: boolean
          description: True if this is a "do not perform" order
        authoredOn:
          type: string
          format: date-time
          description: When the prescription was authored (defaults to now)
        dosageText:
          type: string
          maxLength: 1000
        dosage:
          type: object
          properties:
            dose:
              type: object
              properties:
                value:
                  type: number
                unit:
                  type: string
            frequency:
              type: integer
            period:
              type: number
            periodUnit:
              type: string
              enum: [h, d, wk, mo]
            route:
              type: string
        refills:
          type: integer
          minimum: 0
          maximum: 99
        quantity:
          type: object
          properties:
            value:
              type: number
            unit:
              type: string
        supplyDays:
          type: integer
        substitutionAllowed:
          type: boolean
        reason:
          type: string
          maxLength: 500
        note:
          type: string
          maxLength: 2000
        performerId:
          type: string
          description: Intended performer of administration (Practitioner ID)
        courseOfTherapy:
          type: string
          maxLength: 200
          description: Course of therapy type (continuous, acute, seasonal)
        priorPrescriptionId:
          type: string
          description: Reference to a prior prescription being replaced

    IntakeCreate:
      type: object
      required: [patientId, items]
      properties:
        patientId:
          type: string
        encounterId:
          type: string
        authorId:
          type: string
          description: Who filled out the form (practitioner or device ID)
        sourceId:
          type: string
          description: Who provided the answers (patient, related person, practitioner)
        questionnaire:
          type: string
          description: Reference to the Questionnaire definition (canonical URL or ID)
        status:
          type: string
          enum: [in-progress, completed, amended, stopped]
        authored:
          type: string
          format: date-time
          description: When the answers were gathered (defaults to now)
        basedOn:
          type: array
          description: CarePlan or ServiceRequest IDs this intake fulfills
          items:
            type: string
        partOf:
          type: array
          description: Observation or Procedure IDs this intake is part of
          items:
            type: string
        items:
          type: array
          maxItems: 200
          items:
            type: object
            required: [linkId]
            properties:
              linkId:
                type: string
              definition:
                type: string
                description: ElementDefinition URI for the item
              text:
                type: string
              answer:
                type: array
                items:
                  type: object
                  properties:
                    valueString:
                      type: string
                    valueBoolean:
                      type: boolean
                    valueInteger:
                      type: integer
                    valueDecimal:
                      type: number
                    valueDate:
                      type: string
                    valueDateTime:
                      type: string
                    valueTime:
                      type: string
                    valueCoding:
                      type: object
                      properties:
                        system:
                          type: string
                        code:
                          type: string
                        display:
                          type: string
                    valueQuantity:
                      type: object
                      properties:
                        value:
                          type: number
                        unit:
                          type: string
                    valueUri:
                      type: string
              items:
                type: array
                description: Nested sub-items (recursive)
                items:
                  type: object
                  properties:
                    linkId:
                      type: string
                    definition:
                      type: string
                    text:
                      type: string
                    answer:
                      type: array
                      items:
                        type: object

    ConsentCreate:
      type: object
      required: [patientId, scope, category]
      properties:
        patientId:
          type: string
        status:
          type: string
          enum: [draft, proposed, active, rejected, inactive]
        scope:
          type: string
          description: patient-privacy, research, treatment, adr
        category:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
        dateTime:
          type: string
          format: date-time
        performerId:
          type: string
          description: Who is agreeing (practitioner, patient)
        organizationId:
          type: string
          description: Custodian organization
        policyUri:
          type: string
          description: Policy URI the consent references
        policies:
          type: array
          description: Multiple policies with authority
          items:
            type: object
            properties:
              authority:
                type: string
              uri:
                type: string
        policyRule:
          type: string
          description: Regulation that this consents to
        sourceAttachment:
          type: object
          description: Source document (attachment)
          properties:
            contentType:
              type: string
            data:
              type: string
            url:
              type: string
            title:
              type: string
        sourceReferenceId:
          type: string
          description: Source document reference ID
        verification:
          type: array
          description: Verification details (supports multiple)
          items:
            type: object
            required: [verified]
            properties:
              verified:
                type: boolean
              verifiedWith:
                type: string
              verificationDate:
                type: string
        provision:
          type: object
          description: Provision rules (permit/deny) with nested exceptions
          properties:
            type:
              type: string
              enum: [deny, permit]
            period:
              type: object
              properties:
                start:
                  type: string
                end:
                  type: string
            actor:
              type: array
              items:
                type: object
                properties:
                  role:
                    type: string
                  reference:
                    type: string
            action:
              type: array
              items:
                type: object
                properties:
                  system:
                    type: string
                  code:
                    type: string
                  display:
                    type: string
            securityLabel:
              type: array
              items:
                type: object
                properties:
                  system:
                    type: string
                  code:
                    type: string
                  display:
                    type: string
            purpose:
              type: array
              items:
                type: object
                properties:
                  system:
                    type: string
                  code:
                    type: string
                  display:
                    type: string
            class:
              type: array
              items:
                type: object
                properties:
                  system:
                    type: string
                  code:
                    type: string
                  display:
                    type: string
            dataPeriod:
              type: object
              properties:
                start:
                  type: string
                end:
                  type: string
            data:
              type: array
              description: Specific data references controlled by this rule
              items:
                type: object
                required: [meaning, reference]
                properties:
                  meaning:
                    type: string
                    enum: [instance, related, dependents, authoredby]
                  reference:
                    type: string

    LabCreate:
      type: object
      required: [status, code, patientId]
      properties:
        status:
          type: string
          enum: [registered, partial, preliminary, final, amended, corrected, appended, cancelled]
        code:
          $ref: '#/components/schemas/CodeableConcept'
        patientId:
          type: string
        encounterId:
          type: string
        effectiveDateTime:
          type: string
          format: date-time
          description: When the report is clinically relevant (point in time)
        effectivePeriod:
          type: object
          description: When the report is clinically relevant (time range)
          properties:
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time
        resultIds:
          type: array
          items:
            type: string
          description: Observation IDs included in this report
        category:
          type: string
          description: LAB, RAD, PAT
        conclusion:
          type: string
          maxLength: 5000
        conclusionCodes:
          type: array
          items:
            type: object
            properties:
              system:
                type: string
              code:
                type: string
              display:
                type: string
        performer:
          type: string
          description: Practitioner who performed the diagnostic
        resultsInterpreter:
          type: string
          description: Practitioner who interpreted results
        specimenIds:
          type: array
          items:
            type: string
        presentedForm:
          type: array
          items:
            type: object
            properties:
              contentType:
                type: string
              data:
                type: string
              url:
                type: string
              title:
                type: string
        basedOn:
          type: array
          description: ServiceRequest IDs this report is based on
          items:
            type: string
        media:
          type: array
          description: Media/images linked to this report
          items:
            type: object
            properties:
              comment:
                type: string
              linkId:
                type: string
                description: Media resource ID

    NoteCreate:
      type: object
      required: [patientId, title, content]
      properties:
        patientId:
          type: string
        authorId:
          type: string
          description: Practitioner who authored the note
        encounterId:
          type: string
        type:
          type: string
          enum: [progress-note, discharge-summary, consultation-note, history-and-physical, operative-note, procedure-note, referral-note, transfer-summary, other]
        title:
          type: string
          maxLength: 500
        content:
          type: string
          maxLength: 100000
        contentType:
          type: string
          default: text/plain
        docStatus:
          type: string
          enum: [preliminary, final, amended]
        category:
          type: string
          maxLength: 100
        date:
          type: string
        relatesTo:
          type: array
          description: Relationships to other documents
          items:
            type: object
            required: [code, targetId]
            properties:
              code:
                type: string
                enum: [replaces, transforms, signs, appends]
              targetId:
                type: string
                description: Target DocumentReference ID
        securityLabel:
          type: array
          description: Document security tags
          items:
            type: object
            properties:
              system:
                type: string
              code:
                type: string
              display:
                type: string
        authenticatorId:
          type: string
          description: Who authenticated the document (Practitioner ID)
        custodianId:
          type: string
          description: Organization maintaining the document
        servicePeriod:
          type: object
          description: Time period of the clinical service documented
          properties:
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time
        facilityType:
          type: string
          maxLength: 200
          description: Kind of facility where patient was seen
        practiceSetting:
          type: string
          maxLength: 200
          description: Clinical specialty (e.g. cardiology, oncology)

    AssessmentCreate:
      type: object
      required: [status, patientId, summary]
      properties:
        status:
          type: string
          enum: [in-progress, completed]
        statusReason:
          type: string
          maxLength: 500
          description: Reason for current status
        patientId:
          type: string
        encounterId:
          type: string
        practitionerId:
          type: string
        code:
          type: string
          maxLength: 200
          description: Kind of assessment (initial-assessment, follow-up, discharge)
        description:
          type: string
          maxLength: 2000
        summary:
          type: string
          maxLength: 5000
        findings:
          type: array
          maxItems: 50
          items:
            type: object
            properties:
              code:
                type: string
                description: ICD-10 or SNOMED code
              text:
                type: string
              basis:
                type: string
                description: Which investigations support this finding
        note:
          type: string
          maxLength: 2000
        effectiveDateTime:
          type: string
          format: date-time
        date:
          type: string
          format: date-time
          description: When the assessment was documented (defaults to now)
        previousAssessmentId:
          type: string
          description: Reference to the previous assessment for this patient
        problemIds:
          type: array
          description: Condition or AllergyIntolerance IDs being assessed
          items:
            type: string
        investigations:
          type: array
          maxItems: 20
          description: Sets of investigations (labs, imaging, questionnaires)
          items:
            type: object
            required: [name]
            properties:
              name:
                type: string
                description: Name/code for the investigation set
              itemIds:
                type: array
                items:
                  type: string
                description: Reference IDs to Observation, DiagnosticReport, etc.
        protocol:
          type: array
          description: Clinical protocol URIs followed
          items:
            type: string
        prognosis:
          type: array
          maxItems: 10
          description: Prognosis codes (good, poor, guarded)
          items:
            type: object
            properties:
              code:
                type: string
              text:
                type: string
        supportingInfoIds:
          type: array
          description: Supporting information references
          items:
            type: string

    DocumentCreate:
      type: object
      required: [status, type, patientId, practitionerId, title, sections]
      properties:
        status:
          type: string
          enum: [preliminary, final, amended]
        type:
          type: string
          maxLength: 100
          description: Document type (discharge-summary, referral-letter, care-plan, etc.)
        category:
          type: array
          description: Document categories for classification
          items:
            type: string
            maxLength: 200
        patientId:
          type: string
        encounterId:
          type: string
        practitionerId:
          type: string
        title:
          type: string
          maxLength: 500
        date:
          type: string
          format: date-time
        confidentiality:
          type: string
          enum: [N, R, V]
          description: N (normal), R (restricted), V (very restricted)
        attester:
          type: array
          description: Who attested to the accuracy of the document
          items:
            type: object
            required: [mode]
            properties:
              mode:
                type: string
                enum: [personal, professional, legal, official]
              time:
                type: string
                format: date-time
              partyId:
                type: string
                description: Practitioner who attested
        custodianId:
          type: string
          description: Organization maintaining the document
        relatesTo:
          type: array
          description: Relationships to other compositions/documents
          items:
            type: object
            required: [code, targetId]
            properties:
              code:
                type: string
                enum: [replaces, transforms, signs, appends]
              targetId:
                type: string
                description: Target Composition ID
        event:
          type: array
          description: Clinical services being documented
          items:
            type: object
            properties:
              code:
                type: array
                items:
                  type: object
                  properties:
                    system:
                      type: string
                    code:
                      type: string
                    display:
                      type: string
              period:
                type: object
                properties:
                  start:
                    type: string
                  end:
                    type: string
              detailIds:
                type: array
                items:
                  type: string
        sections:
          type: array
          minItems: 1
          maxItems: 50
          items:
            type: object
            required: [title, text]
            properties:
              title:
                type: string
                maxLength: 200
              code:
                type: string
              text:
                type: string
                maxLength: 50000
              resourceIds:
                type: array
                items:
                  type: string
              authorId:
                type: string
                description: Per-section author (Practitioner ID)
              mode:
                type: string
                enum: [working, snapshot, changes]
              sections:
                type: array
                description: Nested sub-sections
                items:
                  type: object
                  properties:
                    title:
                      type: string
                    code:
                      type: string
                    text:
                      type: string

    AppointmentResponseCreate:
      type: object
      required: [appointmentId, participantStatus]
      properties:
        appointmentId:
          type: string
          description: The appointment this response relates to
        participantStatus:
          type: string
          enum: [accepted, declined, tentative, needs-action]
        actorId:
          type: string
          description: The participant (Patient, Practitioner, etc.)
        participantType:
          type: string
          description: Role of participant in the appointment
        start:
          type: string
          format: date-time
          description: Proposed new start time
        end:
          type: string
          format: date-time
          description: Proposed new end time
        comment:
          type: string
          maxLength: 2000

    TaskCreate:
      type: object
      required: [status, intent]
      properties:
        status:
          type: string
          enum: [draft, requested, received, accepted, rejected, ready, cancelled, in-progress, on-hold, failed, completed]
        intent:
          type: string
          enum: [unknown, proposal, plan, order, original-order, reflex-order, filler-order, instance-order, option]
        statusReason:
          type: string
          maxLength: 500
        businessStatus:
          type: string
          maxLength: 200
          description: Business-specific status (e.g. Specimen collected)
        priority:
          type: string
          enum: [routine, urgent, asap, stat]
        code:
          type: string
          maxLength: 200
          description: Task type code
        description:
          type: string
          maxLength: 2000
        focusId:
          type: string
          description: What the task is acting on
        patientId:
          type: string
          description: Beneficiary of the task
        encounterId:
          type: string
        executionPeriod:
          type: object
          properties:
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time
        authoredOn:
          type: string
          format: date-time
        requesterId:
          type: string
        ownerId:
          type: string
        reasonCode:
          type: string
          maxLength: 500
        note:
          type: string
          maxLength: 2000
        basedOn:
          type: array
          items:
            type: string
        partOf:
          type: array
          items:
            type: string
        input:
          type: array
          items:
            type: object
            required: [type]
            properties:
              type:
                type: string
              valueString:
                type: string
              valueBoolean:
                type: boolean
              valueInteger:
                type: integer
        output:
          type: array
          items:
            type: object
            required: [type]
            properties:
              type:
                type: string
              valueString:
                type: string
              valueBoolean:
                type: boolean
              valueInteger:
                type: integer
        restriction:
          type: object
          properties:
            repetitions:
              type: integer
            period:
              type: object
              properties:
                start:
                  type: string
                end:
                  type: string
            recipientIds:
              type: array
              items:
                type: string

    SlotCreate:
      type: object
      required: [scheduleId, status, start, end]
      properties:
        scheduleId:
          type: string
          description: The schedule this slot belongs to
        status:
          type: string
          enum: [busy, free, busy-unavailable, busy-tentative]
        start:
          type: string
          format: date-time
        end:
          type: string
          format: date-time
        serviceCategory:
          type: string
          maxLength: 200
        serviceType:
          type: string
          maxLength: 200
        specialty:
          type: string
          maxLength: 200
        appointmentType:
          type: string
          maxLength: 200
        overbooked:
          type: boolean
        comment:
          type: string
          maxLength: 2000

    OrganizationCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
          maxLength: 500
        active:
          type: boolean
        type:
          type: array
          items:
            type: string
        alias:
          type: array
          items:
            type: string
        phone:
          type: string
        email:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        partOfId:
          type: string
          description: Parent organization ID
        contact:
          type: array
          items:
            type: object
            properties:
              purpose:
                type: string
              firstName:
                type: string
              lastName:
                type: string
              phone:
                type: string
              email:
                type: string

    AccountCreate:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [active, inactive, on-hold]
        type:
          type: string
          description: Account type (patient, expense, depreciation)
        name:
          type: string
          maxLength: 500
        patientId:
          type: string
        servicePeriod:
          type: object
          properties:
            start:
              type: string
            end:
              type: string
        coverage:
          type: array
          items:
            type: object
            required: [coverageId]
            properties:
              coverageId:
                type: string
              priority:
                type: integer
        ownerId:
          type: string
          description: Organization managing the account
        description:
          type: string
          maxLength: 2000
        guarantor:
          type: array
          items:
            type: object
            required: [partyId]
            properties:
              partyId:
                type: string
              onHold:
                type: boolean
              period:
                type: object
                properties:
                  start:
                    type: string
                  end:
                    type: string
        partOfId:
          type: string
          description: Parent account ID

    HealthcareServiceCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
          maxLength: 500
        active:
          type: boolean
        providedById:
          type: string
          description: Organization that provides this service
        category:
          type: array
          items:
            type: string
        type:
          type: array
          items:
            type: string
        specialty:
          type: array
          items:
            type: string
        locationNames:
          type: array
          items:
            type: string
        comment:
          type: string
          maxLength: 2000
        phone:
          type: string
        email:
          type: string
        appointmentRequired:
          type: boolean
        availableTime:
          type: array
          items:
            type: object
            properties:
              daysOfWeek:
                type: array
                items:
                  type: string
                  enum: [mon, tue, wed, thu, fri, sat, sun]
              allDay:
                type: boolean
              availableStartTime:
                type: string
              availableEndTime:
                type: string
        notAvailable:
          type: array
          items:
            type: object
            required: [description]
            properties:
              description:
                type: string
              during:
                type: object
                properties:
                  start:
                    type: string
                  end:
                    type: string
        availabilityExceptions:
          type: string
          maxLength: 1000
        program:
          type: array
          items:
            type: string
        referralMethod:
          type: array
          items:
            type: string
        communication:
          type: array
          items:
            type: string

    ServiceRequestCreate:
      type: object
      required: [status, intent, patientId]
      properties:
        status:
          type: string
          enum: [draft, active, on-hold, revoked, completed]
        intent:
          type: string
          enum: [proposal, plan, directive, order, original-order, reflex-order, filler-order, instance-order, option]
        patientId:
          type: string
        encounterId:
          type: string
        code:
          $ref: '#/components/schemas/CodeableConcept'
        category:
          type: array
          items:
            type: string
        priority:
          type: string
          enum: [routine, urgent, asap, stat]
        doNotPerform:
          type: boolean
        occurrenceDateTime:
          type: string
          format: date-time
        occurrencePeriod:
          type: object
          properties:
            start:
              type: string
            end:
              type: string
        asNeeded:
          type: boolean
        authoredOn:
          type: string
          format: date-time
        requesterId:
          type: string
        performerType:
          type: string
        performerIds:
          type: array
          items:
            type: string
        reasonCode:
          type: array
          items:
            type: string
        bodySite:
          type: array
          items:
            type: string
        note:
          type: string
          maxLength: 2000
        patientInstruction:
          type: string
          maxLength: 2000
        basedOn:
          type: array
          items:
            type: string
        replaces:
          type: array
          items:
            type: string

    LocationCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
          maxLength: 500
        status:
          type: string
          enum: [active, suspended, inactive]
        description:
          type: string
          maxLength: 2000
        mode:
          type: string
          enum: [instance, kind]
        type:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 200
        alias:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 200
        phone:
          type: string
          maxLength: 20
        email:
          type: string
          format: email
          maxLength: 200
        address:
          $ref: '#/components/schemas/Address'
        physicalType:
          type: string
          maxLength: 200
          description: Physical form (building, wing, room, bed, vehicle)
        position:
          type: object
          description: GPS coordinates
          properties:
            longitude:
              type: number
            latitude:
              type: number
            altitude:
              type: number
        managingOrganizationId:
          type: string
          description: Organization that manages this location
        partOfId:
          type: string
          description: Parent location ID
        hoursOfOperation:
          type: array
          maxItems: 20
          items:
            type: object
            properties:
              daysOfWeek:
                type: array
                items:
                  type: string
                  enum: [mon, tue, wed, thu, fri, sat, sun]
              allDay:
                type: boolean
              openingTime:
                type: string
                description: Opening time (HH:mm:ss)
              closingTime:
                type: string
                description: Closing time (HH:mm:ss)
        availabilityExceptions:
          type: string
          maxLength: 2000

    ScheduleCreate:
      type: object
      required: [actorIds]
      properties:
        active:
          type: boolean
          description: Whether the schedule is active (default true)
        serviceCategory:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 200
        serviceType:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 200
        specialty:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 200
        actorIds:
          type: array
          minItems: 1
          maxItems: 20
          items:
            type: string
          description: References to Practitioner, Location, etc.
        planningHorizon:
          type: object
          properties:
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time
        comment:
          type: string
          maxLength: 2000

    PersonCreate:
      type: object
      required: [firstName, lastName]
      properties:
        firstName:
          type: string
          maxLength: 100
        lastName:
          type: string
          maxLength: 100
        phone:
          type: string
          maxLength: 20
        email:
          type: string
          format: email
          maxLength: 200
        gender:
          type: string
          enum: [male, female, other, unknown]
        birthDate:
          type: string
          description: Date of birth (YYYY-MM-DD)
        address:
          $ref: '#/components/schemas/Address'
        photo:
          type: object
          properties:
            url:
              type: string
              format: uri
            data:
              type: string
              description: Base64-encoded image
            contentType:
              type: string
        managingOrganizationId:
          type: string
          description: Managing organization ID
        active:
          type: boolean
        link:
          type: array
          maxItems: 20
          items:
            type: object
            required: [targetId]
            properties:
              targetId:
                type: string
                description: Target resource ID (Patient, Practitioner, RelatedPerson)
              assurance:
                type: string
                enum: [level1, level2, level3, level4]
                description: Assurance level of the link

    FamilyMemberHistoryCreate:
      type: object
      required: [status, patientId, relationship]
      properties:
        status:
          type: string
          enum: [partial, completed, health-unknown]
        patientId:
          type: string
        date:
          type: string
          format: date-time
        name:
          type: string
          maxLength: 200
          description: Family member's name
        relationship:
          type: string
          maxLength: 200
          description: Relationship to patient (mother, father, sibling, etc.)
        sex:
          type: string
          maxLength: 50
        bornDate:
          type: string
          description: Family member's birth date
        ageString:
          type: string
          maxLength: 100
          description: Approximate age (e.g. "around 50")
        estimatedAge:
          type: boolean
        deceasedBoolean:
          type: boolean
        deceasedDate:
          type: string
        reasonCode:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 500
        note:
          type: string
          maxLength: 2000
        condition:
          type: array
          maxItems: 20
          items:
            type: object
            required: [code]
            properties:
              code:
                type: string
                maxLength: 500
                description: Condition code or description
              outcome:
                type: string
                maxLength: 500
              contributedToDeath:
                type: boolean
              onsetString:
                type: string
                maxLength: 200
                description: Onset description (e.g. "Age 45")
              note:
                type: string
                maxLength: 2000

    CarePlanCreate:
      type: object
      required: [status, intent, patientId]
      properties:
        status:
          type: string
          enum: [draft, active, on-hold, revoked, completed]
        intent:
          type: string
          enum: [proposal, plan, order, option]
        patientId:
          type: string
          maxLength: 128
        encounterId:
          type: string
          maxLength: 128
        title:
          type: string
          maxLength: 500
        description:
          type: string
          maxLength: 5000
        category:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 200
        period:
          type: object
          properties:
            start:
              type: string
            end:
              type: string
        created:
          type: string
          maxLength: 50
        authorId:
          type: string
          maxLength: 128
        contributorIds:
          type: array
          maxItems: 20
          items:
            type: string
            maxLength: 128
        careTeamIds:
          type: array
          maxItems: 20
          items:
            type: string
            maxLength: 128
        addressesIds:
          type: array
          maxItems: 20
          items:
            type: string
            maxLength: 128
        goalIds:
          type: array
          maxItems: 20
          items:
            type: string
            maxLength: 128
        note:
          type: string
          maxLength: 5000
        activity:
          type: array
          maxItems: 50
          items:
            type: object
            required: [description, status]
            properties:
              description:
                type: string
                maxLength: 2000
              status:
                type: string
                maxLength: 50
              code:
                type: string
                maxLength: 200
              scheduledString:
                type: string
                maxLength: 500
              performerId:
                type: string
                maxLength: 128
              referenceId:
                type: string
                maxLength: 128
        basedOn:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 128
        replaces:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 128
        partOf:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 128

    ImmunizationCreate:
      type: object
      required: [status, vaccineCode, patientId]
      properties:
        status:
          type: string
          enum: [completed, not-done]
        vaccineCode:
          oneOf:
            - type: string
              maxLength: 500
            - type: object
              properties:
                system:
                  type: string
                code:
                  type: string
                display:
                  type: string
        patientId:
          type: string
          maxLength: 128
        encounterId:
          type: string
          maxLength: 128
        occurrenceDateTime:
          type: string
          maxLength: 50
        recorded:
          type: string
          maxLength: 50
        primarySource:
          type: boolean
        manufacturer:
          type: string
          maxLength: 500
        lotNumber:
          type: string
          maxLength: 100
        expirationDate:
          type: string
          maxLength: 50
        site:
          type: string
          maxLength: 200
        route:
          type: string
          maxLength: 200
        doseQuantity:
          type: object
          properties:
            value:
              type: number
            unit:
              type: string
              maxLength: 50
        performer:
          type: array
          maxItems: 10
          items:
            type: object
            required: [actorId]
            properties:
              function:
                type: string
                maxLength: 200
              actorId:
                type: string
                maxLength: 128
        note:
          type: string
          maxLength: 5000
        reasonCode:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 500
        statusReason:
          type: string
          maxLength: 500
        isSubpotent:
          type: boolean
        reaction:
          type: array
          maxItems: 10
          items:
            type: object
            properties:
              date:
                type: string
              reported:
                type: boolean
        protocolApplied:
          type: array
          maxItems: 10
          items:
            type: object
            properties:
              series:
                type: string
                maxLength: 200
              doseNumber:
                type: integer
              seriesDoses:
                type: integer
              targetDisease:
                type: array
                maxItems: 10
                items:
                  type: string
                  maxLength: 200

    ClaimCreate:
      type: object
      required: [status, type, use, patientId, providerId, priority, insurance]
      properties:
        status:
          type: string
          enum: [active, cancelled, draft]
        type:
          type: string
          maxLength: 200
          description: institutional, oral, pharmacy, professional, vision
        use:
          type: string
          enum: [claim, preauthorization, predetermination]
        patientId:
          type: string
          maxLength: 128
        created:
          type: string
          maxLength: 50
        providerId:
          type: string
          maxLength: 128
        insurerId:
          type: string
          maxLength: 128
        priority:
          type: string
          maxLength: 50
          description: normal, immediate, deferred, stat
        billablePeriod:
          type: object
          properties:
            start:
              type: string
            end:
              type: string
        diagnosis:
          type: array
          maxItems: 25
          items:
            type: object
            required: [sequence, code]
            properties:
              sequence:
                type: integer
              code:
                type: string
                maxLength: 500
        procedure:
          type: array
          maxItems: 25
          items:
            type: object
            required: [sequence, code]
            properties:
              sequence:
                type: integer
              code:
                type: string
                maxLength: 500
              date:
                type: string
        insurance:
          type: array
          minItems: 1
          maxItems: 10
          items:
            type: object
            required: [sequence, focal, coverageId]
            properties:
              sequence:
                type: integer
              focal:
                type: boolean
              coverageId:
                type: string
                maxLength: 128
        item:
          type: array
          maxItems: 50
          items:
            type: object
            required: [sequence, productOrService]
            properties:
              sequence:
                type: integer
              productOrService:
                type: string
                maxLength: 500
              quantity:
                type: object
                properties:
                  value:
                    type: number
                  unit:
                    type: string
              unitPrice:
                type: object
                properties:
                  value:
                    type: number
                  currency:
                    type: string
              net:
                type: object
                properties:
                  value:
                    type: number
                  currency:
                    type: string
        total:
          type: object
          properties:
            value:
              type: number
            currency:
              type: string
        note:
          type: string
          maxLength: 5000

    ClaimResponseCreate:
      type: object
      required: [status, type, use, patientId, insurerId, outcome]
      properties:
        status:
          type: string
          enum: [active, cancelled, draft]
        type:
          type: string
          maxLength: 200
        use:
          type: string
          enum: [claim, preauthorization, predetermination]
        patientId:
          type: string
          maxLength: 128
        created:
          type: string
          maxLength: 50
        insurerId:
          type: string
          maxLength: 128
        requestId:
          type: string
          maxLength: 128
        outcome:
          type: string
          enum: [queued, complete, error, partial]
        disposition:
          type: string
          maxLength: 2000
        preAuthRef:
          type: string
          maxLength: 500
        payeeType:
          type: string
          maxLength: 200
        item:
          type: array
          maxItems: 50
          items:
            type: object
            required: [itemSequence, adjudication]
            properties:
              itemSequence:
                type: integer
              adjudication:
                type: array
                items:
                  type: object
                  required: [category]
                  properties:
                    category:
                      type: string
                      maxLength: 200
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
        total:
          type: array
          maxItems: 10
          items:
            type: object
            required: [category, amount]
            properties:
              category:
                type: string
                maxLength: 200
              amount:
                type: object
                required: [value]
                properties:
                  value:
                    type: number
                  currency:
                    type: string
        payment:
          type: object
          required: [type, amount]
          properties:
            type:
              type: string
              maxLength: 200
            amount:
              type: object
              required: [value]
              properties:
                value:
                  type: number
                currency:
                  type: string
            date:
              type: string
        processNote:
          type: array
          maxItems: 20
          items:
            type: object
            required: [text]
            properties:
              number:
                type: integer
              text:
                type: string
                maxLength: 2000
        note:
          type: string
          maxLength: 5000

    AllergyIntoleranceCreate:
      type: object
      required: [patientId]
      properties:
        patientId:
          type: string
          maxLength: 128
        clinicalStatus:
          type: string
          enum: [active, inactive, resolved]
        verificationStatus:
          type: string
          enum: [unconfirmed, confirmed, refuted]
        type:
          type: string
          enum: [allergy, intolerance]
        category:
          type: array
          maxItems: 4
          items:
            type: string
            enum: [food, medication, environment, biologic]
        criticality:
          type: string
          enum: [low, high, unable-to-assess]
        code:
          $ref: '#/components/schemas/CodeableConcept'
        encounterId:
          type: string
          maxLength: 128
        onsetDateTime:
          type: string
        onsetString:
          type: string
          maxLength: 500
        recordedDate:
          type: string
        recorderId:
          type: string
          maxLength: 128
        asserterId:
          type: string
          maxLength: 128
        lastOccurrence:
          type: string
        note:
          type: string
          maxLength: 5000
        reaction:
          type: array
          maxItems: 20
          items:
            type: object
            required: [manifestation]
            properties:
              substance:
                type: string
                maxLength: 500
              manifestation:
                type: array
                minItems: 1
                maxItems: 20
                items:
                  type: string
                  maxLength: 500
              description:
                type: string
                maxLength: 2000
              onset:
                type: string
              severity:
                type: string
                enum: [mild, moderate, severe]
              exposureRoute:
                type: string
                maxLength: 200
              note:
                type: string
                maxLength: 5000

    CareTeamCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
          maxLength: 500
        status:
          type: string
          enum: [proposed, active, suspended, inactive]
        category:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 200
        patientId:
          type: string
          maxLength: 128
        encounterId:
          type: string
          maxLength: 128
        period:
          type: object
          properties:
            start:
              type: string
            end:
              type: string
        participant:
          type: array
          maxItems: 50
          items:
            type: object
            required: [memberId]
            properties:
              role:
                type: string
                maxLength: 200
              memberId:
                type: string
                maxLength: 128
              onBehalfOfId:
                type: string
                maxLength: 128
              period:
                type: object
                properties:
                  start:
                    type: string
                  end:
                    type: string
        reasonCode:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 500
        managingOrganizationIds:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 128
        phone:
          type: string
          maxLength: 20
        email:
          type: string
          maxLength: 200
        note:
          type: string
          maxLength: 5000

    ConditionCreate:
      type: object
      required: [patientId]
      properties:
        patientId:
          type: string
          maxLength: 128
        clinicalStatus:
          type: string
          enum: [active, recurrence, relapse, inactive, remission, resolved]
        verificationStatus:
          type: string
          enum: [unconfirmed, provisional, differential, confirmed, refuted]
        category:
          type: array
          maxItems: 5
          items:
            type: string
            enum: [problem-list-item, encounter-diagnosis]
        severity:
          type: string
          maxLength: 200
        code:
          $ref: '#/components/schemas/CodeableConcept'
        bodySite:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 500
        encounterId:
          type: string
          maxLength: 128
        onsetDateTime:
          type: string
        onsetString:
          type: string
          maxLength: 500
        abatementDateTime:
          type: string
        abatementString:
          type: string
          maxLength: 500
        recordedDate:
          type: string
        recorderId:
          type: string
          maxLength: 128
        asserterId:
          type: string
          maxLength: 128
        stage:
          type: array
          maxItems: 10
          items:
            type: object
            properties:
              summary:
                type: string
                maxLength: 500
              type:
                type: string
                maxLength: 200
        evidence:
          type: array
          maxItems: 20
          items:
            type: object
            properties:
              code:
                type: array
                maxItems: 10
                items:
                  type: string
                  maxLength: 500
              detailIds:
                type: array
                maxItems: 10
                items:
                  type: string
                  maxLength: 128
        note:
          type: string
          maxLength: 5000

    ChargeItemCreate:
      type: object
      required: [status, code, patientId]
      properties:
        status:
          type: string
          enum: [planned, billable, not-billable, aborted, billed]
        code:
          $ref: '#/components/schemas/CodeableConcept'
        patientId:
          type: string
          maxLength: 128
        encounterId:
          type: string
          maxLength: 128
        occurrenceDateTime:
          type: string
        occurrencePeriod:
          type: object
          properties:
            start:
              type: string
            end:
              type: string
        performer:
          type: array
          maxItems: 20
          items:
            type: object
            required: [actorId]
            properties:
              function:
                type: string
                maxLength: 200
              actorId:
                type: string
                maxLength: 128
        performingOrganizationId:
          type: string
          maxLength: 128
        requestingOrganizationId:
          type: string
          maxLength: 128
        quantity:
          type: object
          required: [value]
          properties:
            value:
              type: number
            unit:
              type: string
              maxLength: 50
        bodySite:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 500
        priceOverride:
          type: object
          required: [value]
          properties:
            value:
              type: number
            currency:
              type: string
              maxLength: 10
        overrideReason:
          type: string
          maxLength: 2000
        enteredDate:
          type: string
        reason:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 500
        accountIds:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 128
        note:
          type: string
          maxLength: 5000

    CoverageCreate:
      type: object
      required: [status, patientId, payorIds]
      properties:
        status:
          type: string
          enum: [active, cancelled, draft]
        patientId:
          type: string
          maxLength: 128
        type:
          type: string
          maxLength: 200
          description: medical, dental, vision, pharmacy
        subscriberId:
          type: string
          maxLength: 200
        subscriberRef:
          type: string
          maxLength: 200
        policyHolderRef:
          type: string
          maxLength: 200
        relationship:
          type: string
          maxLength: 100
          description: self, spouse, child, other
        period:
          type: object
          properties:
            start:
              type: string
            end:
              type: string
        payorIds:
          type: array
          minItems: 1
          maxItems: 10
          items:
            type: string
            maxLength: 128
        class:
          type: array
          maxItems: 20
          items:
            type: object
            required: [type, value]
            properties:
              type:
                type: string
                maxLength: 200
              value:
                type: string
                maxLength: 200
              name:
                type: string
                maxLength: 500
        order:
          type: integer
        network:
          type: string
          maxLength: 500
        dependent:
          type: string
          maxLength: 200
        subrogation:
          type: boolean

    EligibilityRequestCreate:
      type: object
      required: [status, purpose, patientId, insurerId]
      properties:
        status:
          type: string
          enum: [active, cancelled, draft]
        purpose:
          type: array
          minItems: 1
          maxItems: 10
          items:
            type: string
            maxLength: 100
          description: auth-requirements, benefits, discovery, validation
        patientId:
          type: string
          maxLength: 128
        created:
          type: string
          maxLength: 50
        insurerId:
          type: string
          maxLength: 128
        providerId:
          type: string
          maxLength: 128
        servicedDate:
          type: string
          maxLength: 50
        servicedPeriod:
          type: object
          properties:
            start:
              type: string
            end:
              type: string
        insurance:
          type: array
          maxItems: 10
          items:
            type: object
            required: [coverageId]
            properties:
              focal:
                type: boolean
              coverageId:
                type: string
                maxLength: 128
        item:
          type: array
          maxItems: 25
          items:
            type: object
            properties:
              category:
                type: string
                maxLength: 500
              productOrService:
                type: string
                maxLength: 500

    EligibilityResponseCreate:
      type: object
      required: [status, purpose, patientId, outcome, insurerId]
      properties:
        status:
          type: string
          enum: [active, cancelled, draft]
        purpose:
          type: array
          minItems: 1
          maxItems: 10
          items:
            type: string
            maxLength: 100
        patientId:
          type: string
          maxLength: 128
        created:
          type: string
          maxLength: 50
        requestId:
          type: string
          maxLength: 128
        outcome:
          type: string
          enum: [queued, complete, error, partial]
        insurerId:
          type: string
          maxLength: 128
        disposition:
          type: string
          maxLength: 2000
        insurance:
          type: array
          maxItems: 10
          items:
            type: object
            required: [coverageId]
            properties:
              coverageId:
                type: string
                maxLength: 128
              inforce:
                type: boolean
              benefitPeriod:
                type: object
                properties:
                  start:
                    type: string
                  end:
                    type: string
        preAuthRef:
          type: string
          maxLength: 500
        error:
          type: array
          maxItems: 20
          items:
            type: object
            required: [code]
            properties:
              code:
                type: string
                maxLength: 500

    EOBCreate:
      type: object
      required: [status, type, use, patientId, insurerId, providerId, outcome, insurance]
      properties:
        status:
          type: string
          enum: [active, cancelled, draft]
        type:
          type: string
          maxLength: 200
          description: institutional, oral, pharmacy, professional, vision
        use:
          type: string
          enum: [claim, preauthorization, predetermination]
        patientId:
          type: string
          maxLength: 128
        created:
          type: string
          maxLength: 50
        insurerId:
          type: string
          maxLength: 128
        providerId:
          type: string
          maxLength: 128
        outcome:
          type: string
          enum: [queued, complete, error, partial]
        disposition:
          type: string
          maxLength: 2000
        claimId:
          type: string
          maxLength: 128
        claimResponseId:
          type: string
          maxLength: 128
        billablePeriod:
          type: object
          properties:
            start:
              type: string
            end:
              type: string
        insurance:
          type: array
          minItems: 1
          maxItems: 10
          items:
            type: object
            required: [focal, coverageId]
            properties:
              focal:
                type: boolean
              coverageId:
                type: string
                maxLength: 128
        item:
          type: array
          maxItems: 50
          items:
            type: object
            required: [sequence, productOrService]
            properties:
              sequence:
                type: integer
              productOrService:
                type: string
                maxLength: 500
              quantity:
                type: object
                properties:
                  value:
                    type: number
                  unit:
                    type: string
              unitPrice:
                type: object
                properties:
                  value:
                    type: number
                  currency:
                    type: string
              net:
                type: object
                properties:
                  value:
                    type: number
                  currency:
                    type: string
              adjudication:
                type: array
                maxItems: 20
                items:
                  type: object
                  required: [category]
                  properties:
                    category:
                      type: string
                      maxLength: 200
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
        total:
          type: array
          maxItems: 10
          items:
            type: object
            required: [category, amount]
            properties:
              category:
                type: string
                maxLength: 200
              amount:
                type: object
                required: [value]
                properties:
                  value:
                    type: number
                  currency:
                    type: string
        payment:
          type: object
          properties:
            type:
              type: string
              maxLength: 200
            amount:
              type: object
              required: [value]
              properties:
                value:
                  type: number
                currency:
                  type: string
            date:
              type: string
        processNote:
          type: array
          maxItems: 20
          items:
            type: object
            required: [text]
            properties:
              number:
                type: integer
              text:
                type: string
                maxLength: 2000

    DeviceCreate:
      type: object
      required: [deviceName]
      properties:
        deviceName:
          type: string
          maxLength: 500
        status:
          type: string
          enum: [active, inactive]
        manufacturer:
          type: string
          maxLength: 500
        modelNumber:
          type: string
          maxLength: 200
        serialNumber:
          type: string
          maxLength: 200
        lotNumber:
          type: string
          maxLength: 200
        manufactureDate:
          type: string
        expirationDate:
          type: string
        type:
          type: string
          maxLength: 200
        patientId:
          type: string
          maxLength: 128
        ownerId:
          type: string
          maxLength: 128
        locationId:
          type: string
          maxLength: 128
        url:
          type: string
          maxLength: 2000
        note:
          type: string
          maxLength: 5000
        parentId:
          type: string
          maxLength: 128
        udiCarrier:
          type: array
          maxItems: 10
          items:
            type: object
            properties:
              deviceIdentifier:
                type: string
                maxLength: 200
              carrierHRF:
                type: string
                maxLength: 500
        safety:
          type: array
          maxItems: 20
          items:
            type: string
            maxLength: 200

    DeviceRequestCreate:
      type: object
      required: [intent, code, patientId]
      properties:
        intent:
          type: string
          enum: [proposal, plan, directive, order, original-order, reflex-order, filler-order, instance-order, option]
        code:
          $ref: '#/components/schemas/CodeableConcept'
        patientId:
          type: string
          maxLength: 128
        status:
          type: string
          enum: [draft, active, on-hold, revoked, completed]
        encounterId:
          type: string
          maxLength: 128
        priority:
          type: string
          enum: [routine, urgent, asap, stat]
        occurrenceDateTime:
          type: string
        occurrencePeriod:
          type: object
          properties:
            start:
              type: string
            end:
              type: string
        authoredOn:
          type: string
        requesterId:
          type: string
          maxLength: 128
        performerId:
          type: string
          maxLength: 128
        performerType:
          type: string
          maxLength: 200
        reasonCode:
          type: array
          maxItems: 20
          items:
            type: string
            maxLength: 500
        note:
          type: string
          maxLength: 5000
        basedOn:
          type: array
          maxItems: 20
          items:
            type: string
            maxLength: 200

    DeviceUseStatementCreate:
      type: object
      required: [status, patientId, deviceId]
      properties:
        status:
          type: string
          enum: [active, completed, on-hold, intended, stopped, not-done]
        patientId:
          type: string
          maxLength: 128
        deviceId:
          type: string
          maxLength: 128
        timingDateTime:
          type: string
        timingPeriod:
          type: object
          properties:
            start:
              type: string
            end:
              type: string
        recordedOn:
          type: string
        sourceId:
          type: string
          maxLength: 128
        reasonCode:
          type: array
          maxItems: 20
          items:
            type: string
            maxLength: 500
        bodySite:
          type: string
          maxLength: 200
        note:
          type: string
          maxLength: 5000
        basedOn:
          type: array
          maxItems: 20
          items:
            type: string
            maxLength: 200

    GoalCreate:
      type: object
      required: [lifecycleStatus, description, patientId]
      properties:
        lifecycleStatus:
          type: string
          enum: [proposed, planned, accepted, active, on-hold, completed, cancelled, rejected]
        description:
          type: string
          maxLength: 2000
        patientId:
          type: string
          maxLength: 128
        achievementStatus:
          type: string
          enum: [in-progress, improving, worsening, no-change, achieved, sustaining, not-achieved, no-progress, not-attainable]
        category:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 200
        priority:
          type: string
          enum: [high-priority, medium-priority, low-priority]
        startDate:
          type: string
        target:
          type: array
          maxItems: 20
          items:
            type: object
            properties:
              measure:
                type: string
                maxLength: 500
              detailString:
                type: string
                maxLength: 1000
              detailQuantity:
                type: object
                properties:
                  value:
                    type: number
                  unit:
                    type: string
              dueDate:
                type: string
        statusDate:
          type: string
        statusReason:
          type: string
          maxLength: 2000
        expressedById:
          type: string
          maxLength: 128
        addressesIds:
          type: array
          maxItems: 20
          items:
            type: string
            maxLength: 200
        note:
          type: string
          maxLength: 5000
        outcomeCode:
          type: array
          maxItems: 20
          items:
            type: string
            maxLength: 500

    InvoiceCreate:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [draft, issued, balanced, cancelled]
        patientId:
          type: string
          maxLength: 128
        type:
          type: string
          maxLength: 200
        recipientId:
          type: string
          maxLength: 128
        date:
          type: string
        issuerId:
          type: string
          maxLength: 128
        accountId:
          type: string
          maxLength: 128
        participant:
          type: array
          maxItems: 20
          items:
            type: object
            required: [actorId]
            properties:
              role:
                type: string
                maxLength: 200
              actorId:
                type: string
                maxLength: 128
        lineItem:
          type: array
          maxItems: 50
          items:
            type: object
            required: [chargeItemCode]
            properties:
              sequence:
                type: number
              chargeItemCode:
                type: string
                maxLength: 500
              priceComponent:
                type: array
                maxItems: 10
                items:
                  type: object
                  required: [type]
                  properties:
                    type:
                      type: string
                      maxLength: 50
                    amount:
                      type: object
                      properties:
                        value:
                          type: number
                        currency:
                          type: string
                          maxLength: 10
        totalNet:
          type: object
          properties:
            value:
              type: number
            currency:
              type: string
              maxLength: 10
        totalGross:
          type: object
          properties:
            value:
              type: number
            currency:
              type: string
              maxLength: 10
        paymentTerms:
          type: string
          maxLength: 2000
        cancelledReason:
          type: string
          maxLength: 1000
        note:
          type: string
          maxLength: 5000

    MedicationDispenseCreate:
      type: object
      required: [status, medication, patientId]
      properties:
        status:
          type: string
          enum: [preparation, in-progress, cancelled, on-hold, completed, stopped, declined]
        medication:
          oneOf:
            - type: string
              maxLength: 200
            - type: object
              properties:
                system:
                  type: string
                code:
                  type: string
                display:
                  type: string
        patientId:
          type: string
          maxLength: 128
        encounterId:
          type: string
          maxLength: 128
        statusReasonCodeableConcept:
          type: string
          maxLength: 500
        category:
          type: string
          maxLength: 200
        performer:
          type: array
          maxItems: 20
          items:
            type: object
            required: [actorId]
            properties:
              function:
                type: string
                maxLength: 200
              actorId:
                type: string
                maxLength: 128
        locationId:
          type: string
          maxLength: 128
        authorizingPrescriptionIds:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 128
        type:
          type: string
          maxLength: 200
        quantity:
          type: object
          properties:
            value:
              type: number
            unit:
              type: string
              maxLength: 50
        daysSupply:
          type: number
        whenPrepared:
          type: string
        whenHandedOver:
          type: string
        dosageText:
          type: string
          maxLength: 2000
        substitution:
          type: object
          required: [wasSubstituted]
          properties:
            wasSubstituted:
              type: boolean
            type:
              type: string
              maxLength: 200
            reason:
              type: string
              maxLength: 500
        note:
          type: string
          maxLength: 5000

    MedicationKnowledgeCreate:
      type: object
      properties:
        code:
          oneOf:
            - type: string
              maxLength: 200
            - type: object
              properties:
                system:
                  type: string
                code:
                  type: string
                display:
                  type: string
        status:
          type: string
          enum: [active, inactive]
        manufacturer:
          type: string
          maxLength: 200
        doseForm:
          type: string
          maxLength: 200
        amount:
          type: object
          properties:
            value:
              type: number
            unit:
              type: string
              maxLength: 50
        synonym:
          type: array
          maxItems: 20
          items:
            type: string
            maxLength: 200
        productType:
          type: array
          maxItems: 10
          items:
            type: string
            maxLength: 200
        ingredient:
          type: array
          maxItems: 50
          items:
            type: object
            properties:
              item:
                oneOf:
                  - type: string
                  - type: object
                    properties:
                      system:
                        type: string
                      code:
[...]
